<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>
    <div class=" col-span-4 bg-gray-100 flex flex-col items-center py-10">
        <div class="bg-white shadow-md rounded-lg w-full max-w-4xl">
            <div class="bg-indigo-800 rounded-t-lg py-6 text-white text-center">
                <h1 class="text-3xl font-semibold">Mi Perfil</h1>
                <p class="text-sm">Gestiona tu información personal</p>
            </div>

            <div class="p-6 space-y-4">
                <div class="flex items-center space-x-4">
                    <img src="https://via.placeholder.com/150" alt="Foto de perfil"
                        class="w-20 h-20 rounded-full object-cover shadow" />
                    <div>
                        <h2 class="text-xl font-semibold text-gray-800">Nombre del Usuario</h2>
                        <p class="text-sm text-gray-500">usuario.example.com</p>
                    </div>
                </div>

                <hr class="border-gray-300 my-4" />

                <div class="overflow-x-auto bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-lg font-bold mb-4 text-gray-800">Tus Reservas</h2>
                    <table class="w-full border-collapse">
                        <thead>
                            <tr class="bg-gray-200 text-gray-700 text-left">
                                <th class="py-2 px-4 border-b">Alojamiento</th>
                                <th class="py-2 px-4 border-b">Restaurante</th>
                                <th class="py-2 px-4 border-b">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover:bg-gray-100">
                                <td class="py-2 px-4 border-b"></td>
                                <td class="py-2 px-4 border-b"></td>
                                <td class="py-2 px-4 border-b"></td>
                            </tr>

                        </tbody>
                    </table>
                    <div>
                        <a href="/home" class="bg-red-500 rounded-lg px-2 py-2">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>