<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>
    <div class="col-span-4 bg-gray-100 flex flex-col items-center py-10">
        <div class="bg-white shadow-md rounded-lg w-full max-w-4xl">
            <div class="bg-indigo-800 rounded-t-lg py-6 text-white text-center">
                <h1 class="text-3xl font-semibold">Mi Perfil</h1>
                <p class="text-sm">Gestiona tu información personal</p>
            </div>

            <div class="p-6 space-y-4">
                <!-- Mostrar los datos del usuario logueado -->
                <div class="flex items-center space-x-4">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="Perfil"
                        class="w-20 h-20 m-4 rounded-full object-cover cursor-pointer border-2 border-gray-300" />
                    <div>
                        <h2 class="text-xl font-semibold text-gray-800">{{ usuarioLogueado?.nombre }} {{
                            usuarioLogueado?.apellidos }}</h2>
                        <p class="text-sm text-gray-500">{{ usuarioLogueado?.email }}</p>
                    </div>
                </div>

                <hr class="border-gray-300 my-4" />

                <div class="overflow-x-auto bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-lg font-bold mb-4 text-gray-800">Tus Reservas</h2>
                    <table class="w-full border-collapse">
                        <thead>
                            <tr class="bg-gray-200 text-gray-700 text-left">
                                <th class="py-2 px-4 border-b">Alojamiento</th>
                                <th class="py-2 px-4 border-b">Fecha Inicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngIf="usuarioLogueado && usuarioLogueado.reservas && usuarioLogueado.reservas.length > 0; else noReservas">
                                <td class="py-2 px-4 border-b">
                                    {{ usuarioLogueado.reservas[0].alojamiento?.nombre || 'No disponible' }}
                                </td>
                                <td class="py-2 px-4 border-b">
                                    {{ usuarioLogueado.reservas[0].fechaInicio || 'No disponible' }}
                                </td>
                            </tr>
                            <ng-template #noReservas>
                                <tr>
                                    <td colspan="3" class="text-center py-2 px-4 border-b text-gray-500">No tienes
                                        reservas</td>
                                </tr>
                            </ng-template>

                        </tbody>
                    </table>
                    <div>
                        <a href="/home" class="bg-red-500 rounded-lg px-2 py-2">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>