<div class="grid grid-cols-5 gap-4 mt-20">
    <!-- Espacio vacío para centrar contenido -->
    <div class="col-span-1"></div>

    <!-- Contenido principal -->
    <div class="col-span-4 pr-20 mb-10">
        <h2 class="text-2xl font-bold text-center mb-6">Nuestros Eventos</h2>

        <!-- Cards de estadísticas -->
        <div class="grid grid-cols-2 gap-4 mb-10">
            <!-- Total Eventos -->
            <div class="bg-orange-300 shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-black font-medium text-sm">Total Eventos</h2>
                <p class="text-3xl font-bold">{{ eventos.length }}</p>
                <span class="text-black text-sm mt-1">Número total de eventos registrados.</span>
            </div>

        </div>

        <!-- Lista de eventos -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div *ngFor="let evento of eventos" class="flex flex-col bg-white rounded-lg shadow-lg">
                <img src="../../../../assets/info-pueblo/coche.JPG" alt="Imagen de {{ evento.nombre }}"
                    class="rounded-t-lg h-40 w-full object-cover transition-transform transform duration-300 ease-in-out hover:brightness-90">
                <div class="p-4 flex flex-col flex-grow">
                    <h5 class="font-semibold text-lg">{{ evento.nombre }}</h5>
                    <p class="text-gray-600">{{ evento.ubicacion }} - {{ evento.fecha_inicio | date:'shortDate' }} a {{ evento.fecha_fin | date:'shortDate' }}</p>
                    <p class="text-gray-700 mt-2">Precio Entrada: {{ evento.precio_entrada | currency }}</p>
                    <div class="flex-grow"></div>
                    <a [routerLink]="['/evento', evento.idEvento]"
                        class="mt-4 inline-block bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-400 text-center">
                        Ver más
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
