<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>
    <div class="container mb-10 mt-4 col-span-4 px-6">
        <h2 class="text-center mb-8 text-3xl font-semibold text-indigo-700">
            Gestión de Monumentos Históricos
        </h2>

        <button
            class="bg-indigo-600 text-white py-3 px-6 rounded-lg hover:bg-indigo-700 mb-6 shadow-md transition-all ease-in-out duration-300 transform hover:scale-105"
            (click)="mostrarFormulario()">
            {{ modoFormulario ? 'Cerrar Formulario' : 'Nuevo Monumento' }}
        </button>

        <!-- Tabla -->
        <div class="overflow-x-auto mt-8 rounded-lg">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                <thead class="bg-indigo-600 text-white">
                    <tr>
                        <th class="py-3 px-6 text-left font-semibold">#</th>
                        <th class="py-3 px-6 text-left font-semibold">Nombre</th>
                        <th class="py-3 px-6 text-left font-semibold">Tipo</th>
                        <th class="py-3 px-6 text-left font-semibold">Ubicación</th>
                        <th class="py-3 px-6 text-left font-semibold">Horario</th>
                        <th class="py-3 px-6 text-left font-semibold">Precio Entrada</th>
                        <th class="py-3 px-6 text-left font-semibold">Imagen</th>
                        <th class="py-3 px-6 text-left font-semibold">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let monumento of monumentos; let i = index" class="hover:bg-gray-100">
                        <td class="py-3 px-6">{{ i + 1 }}</td>
                        <td class="py-3 px-6">{{ monumento.nombre }}</td>
                        <td class="py-3 px-6">{{ monumento.tipo }}</td>
                        <td class="py-3 px-6">{{ monumento.ubicacion }}</td>
                        <td class="py-3 px-6">{{ monumento.horario }}</td>
                        <td class="py-3 px-6">{{ monumento.precio_entrada | currency }}</td>
                        <td class="py-3 px-6">
                            <img *ngIf="monumento.imagen"
                                [src]="'http://localhost:8081/uploads/monumentos/' + monumento.imagen"
                                alt="Imagen de {{ monumento.nombre }}"
                                class="h-16 w-16 rounded-lg object-cover shadow-md" />
                            <span *ngIf="!monumento.imagen" class="text-gray-500 italic">Sin imagen</span>
                        </td>
                        <td class="py-3 px-6">
                            <div class="flex space-x-2">
                                <button
                                    class="bg-yellow-500 text-white py-2 px-2 rounded-lg hover:bg-yellow-600 text-sm"
                                    (click)="editarMonumento(monumento)">
                                    Editar
                                </button>
                                <button class="bg-red-500 text-white py-2 px-2 rounded-lg hover:bg-red-600 text-sm"
                                    (click)="mostrarModalEliminar(monumento)">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal de formulario -->
        <div *ngIf="modoFormulario"
            class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div class="bg-white rounded-lg shadow-lg w-96 p-8 relative z-10">
                <h3 class="text-center text-2xl font-semibold mb-6 text-indigo-600">
                    {{ monumentoSeleccionado.idMonumento ? 'Editar Monumento' : 'Crear Nuevo Monumento' }}
                </h3>

                <!-- Formulario de Monumento -->
                <form (ngSubmit)="guardarMonumento()">
                    <div class="mb-4">
                        <label for="nombre" class="block text-sm font-semibold text-gray-700">Nombre</label>
                        <input id="nombre" type="text" [(ngModel)]="monumentoSeleccionado.nombre" name="nombre"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
                    </div>

                    <div class="mb-4">
                        <label for="historia" class="block text-sm font-semibold text-gray-700">Historia</label>
                        <textarea id="historia" [(ngModel)]="monumentoSeleccionado.historia" name="historia"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required></textarea>
                    </div>

                    <div class="mb-4">
                        <label for="tipo" class="block text-sm font-semibold text-gray-700">Tipo</label>
                        <input id="tipo" type="text" [(ngModel)]="monumentoSeleccionado.tipo" name="tipo"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
                    </div>

                    <div class="mb-4">
                        <label for="ubicacion" class="block text-sm font-semibold text-gray-700">Ubicación</label>
                        <input id="ubicacion" type="text" [(ngModel)]="monumentoSeleccionado.ubicacion" name="ubicacion"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
                    </div>

                    <div class="mb-4">
                        <label for="horario" class="block text-sm font-semibold text-gray-700">Horario</label>
                        <input id="horario" type="text" [(ngModel)]="monumentoSeleccionado.horario" name="horario"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" required />
                    </div>

                    <div class="mb-4">
                        <label for="precio_entrada" class="block text-sm font-semibold text-gray-700">Precio
                            Entrada</label>
                        <input id="precio_entrada" type="number" [(ngModel)]="monumentoSeleccionado.precio_entrada"
                            name="precio_entrada" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm"
                            required />
                    </div>

                    <div class="mb-4">
                        <label for="imagen" class="block text-sm font-semibold text-gray-700">Imagen</label>
                        <input id="imagen" type="file" (change)="onFileSelected($event)"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm" />
                    </div>

                    <div class="flex justify-between mt-6">
                        <button type="submit"
                            class="bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700">Guardar</button>
                        <button type="button" (click)="cancelarFormulario()"
                            class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal de Confirmación de Eliminación -->
        <div *ngIf="monumentoParaEliminar"
            class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div class="bg-white rounded-lg shadow-lg w-96 p-8 relative z-10">
                <h3 class="text-center text-2xl font-semibold mb-6 text-red-600">
                    ¿Estás seguro de eliminar este monumento?
                </h3>
                
                <div class="mb-4">
                    <p class="text-center text-gray-700">
                        {{ monumentoParaEliminar.nombre }}
                    </p>
                </div>

                <div class="flex justify-between mt-6">
                    <button (click)="confirmarEliminar()"
                        class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700">
                        Eliminar
                    </button>
                    <button (click)="cancelarEliminar()"
                        class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
