<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>
    <div class="container col-span-4 px-4 mt-4 mb-10">
        <h2 class="text-2xl font-semibold text-center mb-4 text-white">Gestión de Restaurantes</h2>
        <button
            class="bg-indigo-600 text-white py-3 px-6 rounded-lg hover:bg-indigo-700 mb-6 shadow-md transition-all ease-in-out duration-300 transform hover:scale-105"
            (click)="mostrarFormulario()">
            {{ modoEdicion ? 'Cerrar Formulario' : 'Nuevo Restaurante' }}
        </button>
        <table class="min-w-full bg-white border border-gray-300 rounded-lg" *ngIf="restaurantes.length > 0">
            <thead class="bg-indigo-600 text-white">
                <tr>
                    <th class="py-3 px-6 text-left font-semibold">Nombre</th>
                    <th class="py-3 px-6 text-left font-semibold">Tipo de Comida</th>
                    <th class="py-3 px-6 text-left font-semibold">Especialidad</th>
                    <th class="py-3 px-6 text-left font-semibold">Ubicación</th>
                    <th class="py-3 px-6 text-left font-semibold">Imagen</th> 
                    <th class="py-3 px-6 text-left font-semibold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurante of restaurantes" class="hover:bg-gray-100">
                    <td class="py-2 px-4">{{ restaurante.nombre }}</td>
                    <td class="py-2 px-4">{{ restaurante.tipoComida }}</td>
                    <td class="py-2 px-4">{{ restaurante.especialidad }}</td>
                    <td class="py-2 px-4">{{ restaurante.ubicacion }}</td>
                    <td class="py-2 px-4">
                        <img *ngIf="restaurante.imagen" [src]="'http://localhost:8081/api/restaurantes/uploads/restaurantes/' + restaurante.imagen" alt="Imagen del restaurante" class="w-16 h-16 object-cover rounded-lg border" />
                        <img *ngIf="!restaurante.imagen" src="assets/placeholder.png" alt="Imagen no disponible" class="w-16 h-16 object-cover rounded">
                    </td>
                    <td class="py-2 px-4">
                        <button class="bg-yellow-500 text-white py-2 px-2 rounded-lg hover:bg-yellow-600 text-sm"
                            (click)="mostrarFormulario(restaurante)">
                            <svg class="w-4 h-4 inline-block mr-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12h6m-3-3v6M4.75 12A7.25 7.25 0 0012 4.75a7.25 7.25 0 107.25 7.25A7.25 7.25 0 004.75 12h.5z" />
                            </svg>
                        </button>
                        <button class="bg-red-500 text-white py-2 px-2 ml-4 rounded-lg hover:bg-red-600 text-sm"
                            (click)="mostrarModalEliminar(restaurante)">
                            <svg class="w-4 h-4 inline-block mr-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal de edición -->
        <div *ngIf="modoFormulario"
            class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div class="bg-white rounded-lg shadow-lg w-96 p-6 relative z-10">
                <button (click)="cancelarFormulario()" class="absolute top-3 right-3 text-gray-400 hover:text-gray-600">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <h3 class="text-center text-lg font-semibold mb-4">{{ restauranteSeleccionado.idRestaurante ? 'Editar Restaurante' : 'Nuevo Restaurante' }}</h3>

                <form (ngSubmit)="guardarRestaurante()">
                    <div class="mb-4">
                        <label class="block text-gray-700">Nombre</label>
                        <input [(ngModel)]="restauranteSeleccionado.nombre" name="nombre"
                            class="w-full px-4 py-2 border rounded" required />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Tipo de Comida</label>
                        <input [(ngModel)]="restauranteSeleccionado.tipoComida" name="tipoComida"
                            class="w-full px-4 py-2 border rounded" required />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Especialidad</label>
                        <input [(ngModel)]="restauranteSeleccionado.especialidad" name="especialidad"
                            class="w-full px-4 py-2 border rounded" required />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Ubicación</label>
                        <input [(ngModel)]="restauranteSeleccionado.ubicacion" name="ubicacion"
                            class="w-full px-4 py-2 border rounded" required />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Precio Promedio</label>
                        <input type="number" [(ngModel)]="restauranteSeleccionado.precioPromedio" name="precioPromedio"
                            class="w-full px-4 py-2 border rounded" required />
                    </div>

                    <div class="mb-4">
                        <label class="block text-gray-700">Imagen</label>
                        <input type="file" (change)="onFileSelected($event)" class="w-full px-4 py-2 border rounded" />
                        <div *ngIf="previewUrl" class="mt-2">
                            <img [src]="previewUrl" alt="Vista previa de la imagen" class="w-full h-48 object-cover border rounded" />
                        </div>
                        <div *ngIf="restauranteSeleccionado.imagen" class="mt-2">
                            <img [src]="restauranteSeleccionado.imagen" alt="Imagen actual del restaurante"
                                class="w-full h-48 object-cover border rounded" />
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <button type="submit"
                            class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Guardar</button>
                        <button type="button" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
                            (click)="cancelarFormulario()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal de confirmación de eliminación -->
        <div *ngIf="restauranteParaEliminar"
            class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div class="bg-white rounded-lg shadow-lg w-96 p-6 text-center relative z-10">
                <h3 class="text-lg font-semibold mb-4">¿Estás seguro de eliminar este restaurante?</h3>
                <div class="flex justify-around">
                    <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
                        (click)="confirmarEliminar()">Sí, eliminar</button>
                    <button class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
                        (click)="cancelarEliminar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
