<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>

    <div class="container col-span-4 mt-10 pr-20 ml-10 mb-10">
        <h2 class="text-2xl font-bold text-center mb-6">Nuestros Alojamientos</h2>

        <div class="grid grid-cols-2 gap-4 mb-10">

            <div class="bg-emerald-300 shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-black font-medium text-sm">Total Alojamientos</h2>
                <p class="text-3xl font-bold">{{ alojamientos.length }}</p>
                <span class="text-black text-sm mt-1">Número total de alojamientos registrados.</span>
            </div>

            <div class="bg-sky-900 shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-black font-medium text-sm">Puntuación Media</h2>
                <p class="text-3xl font-bold">{{ puntuacionMedia }} ⭐</p>
                <span class="text-black text-sm mt-1">Promedio de puntuación de todos los alojamientos.</span>
            </div>
        </div>

        <div class="relative my-10">
            <h2 class="text-2xl font-bold text-center mb-6">Valoraciones de Nuestros Alojamientos</h2>
            <div class="overflow-hidden relative w-full">
                <button (click)="prevValoracion()"
                    class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full p-2 z-10 hover:bg-gray-600">
                    &#8592;
                </button>

                <div id="valoracionesCarousel" class="flex transition-transform duration-500"
                    [style.transform]="'translateX(' + (-currentValoracionTranslate) + 'px)'"
                    style="gap: 1rem; width: 100%; max-width: 1200px; margin: 0 auto;">
                    <div *ngFor="let valoracion of getValoracionesPorPagina()"
                        class="flex-none w-[calc(33.33%-1rem)] px-2">
                        <div
                            class="bg-gray-800 bg-opacity-90 rounded-lg shadow-lg text-center p-4 border border-gray-700 hover:shadow-xl transition-shadow">
                            <div class="mt-4">
                                <h5 class="font-semibold text-lg text-white">{{ valoracion.usuario.nombre }}</h5>
                                <p class="text-gray-300 mt-2 font-bold">{{ valoracion.alojamiento.nombre }}</p>
                                <p class="text-gray-400">
                                    <span class="text-yellow-500 font-bold flex items-center justify-center gap-1">
                                        {{ valoracion.puntuacion }} ⭐
                                        <i class="fas fa-star"></i>
                                    </span>
                                </p>
                            </div>
                            <p class="text-gray-400 italic mt-4">"{{ valoracion.comentario }}"</p>
                        </div>
                    </div>
                </div>

                <button (click)="nextValoracion()"
                    class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full p-2 z-10 hover:bg-gray-600">
                    &#8594;
                </button>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div *ngFor="let alojamiento of alojamientos" class="flex flex-col bg-white rounded-lg shadow-lg">
                <img *ngIf="alojamiento.imagen"
                    [src]="'http://localhost:8081/api/alojamientos/uploads/alojamientos/' + alojamiento.imagen"
                    [alt]="'Imagen de ' + alojamiento.nombre"
                    class="rounded-lg h-40 w-full object-cover hover:scale-105" />

                <!-- Si no hay imagen, mostrar una imagen predeterminada -->
                <img *ngIf="!alojamiento.imagen"
                    src="http://localhost:8081/api/alojamientos/uploads/alojamientos/default.jpg"
                    alt="Imagen predeterminada" class="rounded-lg h-40 w-full object-cover hover:scale-105" />
                <div class="p-4 flex flex-col flex-grow">
                    <h5 class="font-semibold text-lg">{{ alojamiento.nombre }}</h5>
                    <p class="text-gray-600">{{ alojamiento.tipo }} - {{ alojamiento.ubicacion }}</p>
                    <p class="text-gray-700 mt-2">Puntuación: {{ alojamiento.puntuacion }} ⭐</p>
                    <div class="flex-grow"></div>
                    <a [routerLink]="['/alojamiento', alojamiento.idAlojamiento]"
                        class="mt-4 inline-block bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-500 hover:scale-105 text-center">
                        Ver más
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>