<div class="flex flex-col">

    <div
        class="sidebar fixed flex flex-col top-0 left-0 w-14 hover:w-64 md:w-64 bg-gray-800 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
        <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">

            <!-- Main Section -->
            <ul class="flex flex-col py-4 space-y-1">
                <!-- Menu Items -->
                <li>
                    <a href="/home"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                </path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Inicio</span>
                    </a>
                </li>

                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'"> <a
                        href="/monumentos"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 2L2 7h3v7h5V7h3v7h5V7h3L12 2z"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Monumentos Admin</span>
                    </a>
                </li>

                <li *ngIf="!authService.isAuthenticated() || authService.getRole() === 'ROLE_USER'">
                    <a href="/monumentos-public"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 2L2 7h3v7h5V7h3v7h5V7h3L12 2z"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Monumentos </span>
                    </a>
                </li>


                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/alojamientos"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7m-2 2v7a2 2 0 01-2 2H5a2 2 0 01-2-2v-7m4 0h12"></path>
                              </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Alojamientos Admin</span>
                    </a>
                </li>

                <li *ngIf="!authService.isAuthenticated() || authService.getRole() === 'ROLE_USER'">
                    <a href="/alojamientos-public"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7m-2 2v7a2 2 0 01-2 2H5a2 2 0 01-2-2v-7m4 0h12"></path>
                              </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Alojamientos</span>
                    </a>
                </li>

                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/restaurantes"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 8v8m0 4h12m-6 0v-4m0 4h6m-6 0h-6m12 0h-6"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Restaurantes Admin</span>
                    </a>
                </li>

                <li *ngIf="!authService.isAuthenticated() || authService.getRole() === 'ROLE_USER'">
                    <a href="/restaurantes-public"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 8v8m0 4h12m-6 0v-4m0 4h6m-6 0h-6m12 0h-6"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Restaurantes</span>
                    </a>
                </li>

                <li *ngIf="!authService.isAuthenticated() || authService.getRole() === 'ROLE_USER'">
                    <a href="/puntos-de-interes-public"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 2C8.69 2 6 4.69 6 8c0 2.21 2.69 6 6 6s6-3.79 6-6c0-3.31-2.69-6-6-6zm0 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM12 10c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Puntos de Interés</span>
                    </a>
                </li>

                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/puntos-de-interes"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 2C8.69 2 6 4.69 6 8c0 2.21 2.69 6 6 6s6-3.79 6-6c0-3.31-2.69-6-6-6zm0 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM12 10c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Puntos de Interés Admin</span>
                    </a>
                </li>

                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/eventos"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 2h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V4a2 2 0 012-2h2m8 0v18M4 6h16" />
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Eventos Admin</span>
                    </a>
                </li>

                <li *ngIf="!authService.isAuthenticated() || authService.getRole() === 'ROLE_USER'">
                    <a href="/eventos-public"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 2h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V4a2 2 0 012-2h2m8 0v18M4 6h16" />
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Eventos</span>
                    </a>
                </li>

                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/reservas"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 3h14a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2zm2 2v2h12V5H7zm0 4v10h12V9H7z" />
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Reservas</span>
                    </a>
                </li>
                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/valoraciones"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 17.27l-5.18 3.09L8.59 13 3 8.27l6.91-.58L12 2l2.09 5.69L21 8.27l-5.59 4.73L12 17.27z" />
                            </svg>

                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Valoraciones</span>
                    </a>
                </li>
                <li *ngIf="authService.isAuthenticated() && authService.getRole() === 'ROLE_ADMIN'">
                    <a href="/usuarios"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14c4 0 4-6 4-6s0-4-4-4-4 6-4 6 0 4 4 4z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 18h10a2 2 0 012 2v2H5v-2a2 2 0 012-2z"></path>
                              </svg>

                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Usuarios</span>
                    </a>
                </li>

                <li *ngIf="isAuthenticated">
                    <a (click)="logout()"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-red-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 16l4-4m0 0l-4-4m4 4H3"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Cerrar sesión</span>
                    </a>
                </li>

                <li *ngIf="!isAuthenticated">
                    <a routerLink="/login"
                        class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                        <span class="inline-flex justify-center items-center ml-4">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M13 7l5 5-5 5M18 12H6"></path>
                            </svg>
                        </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Iniciar sesión</span>
                    </a>
                </li>


            </ul>
        </div>
        <div class="flex items-center m-4">
            <a routerLink="/perfil" class="block">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    alt="Perfil"
                    class="w-10 h-10 rounded-full object-cover cursor-pointer border-2 border-gray-300 hover:border-green-500" />
            </a>
        </div>
    </div>
</div>