<div class="grid grid-cols-5 gap-4 mt-20">

    <div class="col-span-1"></div>
    <div class="col-span-4 pr-20 mb-10">
        <h2 class="text-2xl font-bold text-center mb-6">Galería de monumento</h2>

        <div class="grid grid-cols-1 gap-4 mb-10">
            <div class="bg-orange-300 shadow-md rounded-lg p-6 flex flex-col items-center">
                <h2 class="text-black font-medium text-sm">Total Monumentos</h2>
                <p class="text-3xl font-bold">{{ monumentos.length }}</p>
                <span class="text-black text-sm mt-1">Número total de monumentos registrados.</span>
            </div>

        </div>
        <div class="relative">

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div *ngFor="let monumento of monumentos" class="flex flex-col bg-white rounded-lg shadow-lg">
                    <img src="../../../../assets/info-pueblo/coche.JPG" alt="Imagen de {{ monumento.nombre }}"
                        class="rounded-t-lg h-40 w-full object-cover transition-transform transform duration-300 ease-in-out hover:brightness-90">
                    <div class="p-4 flex flex-col flex-grow">
                        <h5 class="font-semibold text-lg">{{ monumento.nombre }}</h5>
                        <p class="text-gray-600">{{ monumento.tipo }} - {{ monumento.ubicacion }}</p>
                        <p class="text-gray-700 mt-2">Puntuacion: {{ monumento.precio_entrada }} ⭐</p>
                        <div class="flex-grow"></div>
                        <a [routerLink]="['/monumento', monumento.idMonumento]"
                            class="mt-4 inline-block bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-500 hover:scale-105 text-center">
                            Ver más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>