<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1"></div>
    <div class="container mt-4 col-span-4 pr-10 pl-10" *ngIf="rutaTuristica">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col lg:flex-row">
            <div class="lg:w-1/2 w-full">
                <img [src]="rutaTuristica.mapaRuta || '../../../../assets/default-image.jpg'" class="w-full h-full object-cover rounded-t-lg lg:rounded-l-lg"
                    alt="Mapa de {{ rutaTuristica.nombre }}">
            </div>

            <div class="lg:w-1/2 w-full px-6 py-4">
                <div class="bg-orange-200 text-black p-4 rounded-lg mb-6">
                    <h2 class="text-3xl font-bold">{{ rutaTuristica.nombre }}</h2>
                </div>

                <div class="space-y-4">
                    <div class="flex items-center">
                        <span class="text-xl font-semibold text-gray-700 mr-2">Tipo:</span>
                        <p class="text-lg text-gray-600">{{ rutaTuristica.tipo }}</p>
                    </div>

                    <div class="flex items-center">
                        <span class="text-xl font-semibold text-gray-700 mr-2">Descripción:</span>
                        <p class="text-lg text-gray-600">{{ rutaTuristica.descripcion }}</p>
                    </div>

                    <div class="flex items-center">
                        <span class="text-xl font-semibold text-gray-700 mr-2">Duración Estimada:</span>
                        <p class="text-lg text-gray-600">{{ rutaTuristica.duracionEstimada }}</p>
                    </div>

                    <div class="flex items-center">
                        <span class="text-xl font-semibold text-gray-700 mr-2">Puntos de Interés:</span>
                        <p class="text-lg text-gray-600">{{ rutaTuristica.puntosInteres }}</p>
                    </div>
                </div>
            </div>
        </div>

        <button
            class="mt-8 px-6 py-2 mb-10 bg-gray-900 text-white rounded-lg hover:bg-orange-600 transition duration-300"
            [routerLink]="['/rutas-public']">
            Volver a la lista de rutas
        </button>
    </div>
</div>
